.base-wrapper-input {
  position: relative;
  width: fit-content;
}

.base-wrapper-input > input.base-input {
  padding-right: 38px;
  width: 100%;
}
.base-wrapper-input > .input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  z-index: 10000;
}
